* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common  */

body {
    font-family: Arial, Helvetica, sans-serif;
}

body .ms_btn {
    padding: 5px 10px;
    border-radius: 30px;
}

.ms_bg-darkgray {
    background-color: #363636;
}

.ms_cl-white {
    color: white;
}

.ms_cl-gray {
    color: gray;
}

/* header  */

header {
    height: 90px;
}

/*--- sony bar  */
header .ms_sony-bar {
    height: 30px;
    background-color: black;
}

/*--- nav bar  */

header nav {
    height: 60px;
    font-size: 16px;
}

header nav .ms_menu-list li {
    list-style: none;
    padding: 0 10px;
}

header nav .ms_menu-list li a {
    text-decoration: none;
    color: black;
}

header nav .ms_nav-right .ms_menu-list li img {
    width: 20px;
}

/* / header   */

/* Main  */

/* --- jumbotron  */

main #ms_jumbotron .ms_jumbo-img {
    position: relative;
    height: 600px;
}

main #ms_jumbotron .ms_jumbo-img img {
    object-fit: cover;
}

main #ms_jumbotron .ms_jumbo-img .ms_jumbo-img-info {
    position: absolute;
    left: 50px;
    bottom: 50px;
    height: 50%;
    color: white
}

main #ms_jumbotron .ms_jumbo-img .ms_jumbo-img-info button {
    width: 120px;
    background-color: #CD3D0F;
}






/* debug  */

.debug #ms_jumbotron {
    background-color: cadetblue;
}

.debug #ms_jumbo-menu {
    background-color: crimson;
    
}

.debug #ms_jumbo-menu .ms_box-img {
    background-color: lightgrey;
    height: 100px;
    border: 1px solid black;
}

.debug .ms_section-title {
    background-color: blue;
    height: 200px;
}

.debug .ms_play5-content {
    background-color: lightpink;
}

.debug .ms_play5-content .ms_play5-info {
    background-color: lightyellow;
    height: 500px;
}

.debug .ms_play5-content .ms_play5-img {
    background-color: lightslategrey;
    height: 500px;
}

.debug .ms_play5-products {
    background-color: lightseagreen;
    height: 200px;
}