* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common  */

body {
    font-family: Arial, Helvetica, sans-serif;
}

body .ms_btn {
    padding: 5px 10px;
    border-radius: 30px;
}

.ms_bg-darkgray {
    background-color: #363636;
}

.ms_bg-blue {
    background-color: #2D64E6;
}

.ms_cl-white {
    color: white;
}

.ms_cl-gray {
    color: #727272;
}

/* header  */

header {
    height: 90px;
}

/*--- sony bar  */
header .ms_sony-bar {
    height: 30px;
    background-color: black;
}

/*--- nav bar  */

header nav {
    height: 60px;
    font-size: 16px;
}

header nav .ms_menu-list li {
    list-style: none;
    padding: 0 10px;
}

header nav .ms_menu-list li a {
    text-decoration: none;
    color: black;
}

header nav .ms_nav-right .ms_menu-list li img {
    width: 20px;
}

/* / header   */

/* Main  */

/* --- jumbotron  */

main #ms_jumbotron .ms_jumbo-img {
    position: relative;
    height: 600px;
}

main #ms_jumbotron .ms_jumbo-img img {
    width: 60%;
    object-fit: cover;
}

main #ms_jumbotron .ms_jumbo-img .ms_jumbo-img-info {
    position: absolute;
    left: 50px;
    bottom: 50px;
    height: 50%;
    color: white
}

main #ms_jumbotron .ms_jumbo-img .ms_jumbo-img-info button {
    width: 120px;
    background-color: #CD3D0F;
}

/* ---jumbo menu  */

#ms_jumbo-menu .ms_box-img {
    border-radius: 15px;
}

#ms_jumbo-menu .ms_box-img img {
    border-radius: 15px;
    object-fit: cover;
}

/* ---Play5  */

#ms_play5 .ms_section-title span {
    font-size: 14px;
    color: #0072CE;
    font-weight: bold;
}

#ms_play5 .ms_play5-info button {
    width: 180px;
}



/* debug  */


.debug .ms_play5-products {
    background-color: lightseagreen;
    height: 200px;
}